---
interface Props {
  class?: string;
  id?: string;
}

const { class: className = '', id } = Astro.props;
---

<section id={id} class:list={['py-16 md:py-24 relative', className]}>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <slot />
  </div>
</section>
